 
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body{
    background-color: rgb(255, 115, 0);
}

.btn-primary{
  
  background-color: rgb(255, 153, 0);
  border-color: rgb(255, 255, 255);
}
.btn-primary:hover{
  background-color: rgb(107, 107, 107); 
  border-color: rgb(255, 255, 255); 

}

.btn-secondary{
  
  background-color: rgba(255, 153, 0, 0);
  border-color: rgb(255, 255, 255);
}
.btn-secondary:hover{
  background-color: rgb(107, 107, 107); 
  border-color: rgb(255, 255, 255); 

}




/* .header{
  display: flex;
  background-color: rgb(255, 115, 0);
  color: rgb(0, 0, 0);
  padding: 10px;
 
  font-size: 1.5rem;
} */
