 
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body{
    background-color: rgb(255, 255, 255);
}

.btn-primary{
  background-color: orangered;
}
.btn-primary:hover{
  background-color: rgb(255, 153, 0);
}